<div class="d-flex" id="wrapper">
    {{> sidebar}}
    <div id="page-content-wrapper">
        {{> navbar}}
        <div class="container-fluid px-4 text-dracwhite">
            {{> viajes/nuevoViaje}}
            <div class="row">
                <div class="container pb-2">
                    <div class="row justify-content-end">
                        <div class="col-1 w-auto">
                        <a href="javascript:javascript:nuevoViajeModal()" class="btn btn-sm btn-dracpurple font-weight-bold text-dracwhite">
                            <i class="fas fa-plus"></i> Nuevo Viaje 
                        </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card text-dark bg-dracbluedark mb-3">
              <div class="card-header bg-dracbluedark text-dracorange">
                <h5 class="text-center">{{title}}</h5>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table id="viajesTable" class="table table-dark table-striped table-bordered table-sm text-dracwhite" cellspacing="0" width="100%">
                      {{#if viajes}}
                          <thead>
                              <tr class="bg-dracpurpleDark">
                                  <th>colaborador</th>
                                  <th>Sucursal</th>
                                  <th>Transportista</th>
                                  <th>Tarifa</th>
                                  <th>Distancia</th>
                              </tr>
                          </thead>
                          <tbody >
                            {{#each viajes}}
                                <tr>
                                    <td>{{colaborador}}</td>
                                    <td>{{sucursal}}</td>
                                    <td>{{transportista}}</td>
                                    <td>{{tarifa}}</td>
                                    <td>{{distancia}}</td>
                                </tr>
                            {{/each}}
                          </tbody>
                      {{/if}}
                  </table>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/viajes/nuevoViaje.js"></script>